.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 80px;
}

.slide-content {
    text-align: center;
}

.slide-content img {
    width: 60%;
    max-width: 600px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.slide-content img:hover {
    transform: scale(1.02);
}

.slide-content p {
    margin-top: 15px;
    font-size: 2vh;
    line-height: 1.6;
}


/* ===== ปุ่มสไลด์ (ไอคอน) ===== */
.slide-btn {
    border: none;
    background: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 3vh;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.slide-btn:hover {
    background: #e6f6ff;
    transform: scale(1.15);
}

.slide-btn:active {
    transform: scale(0.95);
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* เต็มกรอบ ไม่ยืด */
    display: block;
}
